**/.classpath
**/.metadata
**/.project
**/.recommenders
**/.settings

**/.idea
**/*.iml
**/*.jpr
**/*.ipr
**/*.iws

**/dist

**/target
**/dependency-reduced-pom.xml

**/.orig
**/*.versionsBackup

**/.DS_Store